.footer {
    margin: 20px auto;
    background-color: rgba(127, 255, 212, 0.623);
    border-radius: 20px;
    border: solid black 1px;
}

.footer__paragraph {
    text-align: center;
    padding: 10px;
}